.order-success {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-success > svg {
  font-size: 7vmax;
  color: tomato;
}

.order-success > p {
  font-size: 2vmax;
}

.order-success > h5 {
  color: grey;
  margin-top: 10px;
  font-weight: 500;
}

.order-success > a {
  background-color: tomato;
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 2vmax;
  transition: all 0.5s;
}

.order-success > a:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .order-success > a {
    padding: 3vw 6vw;
    font: 400 4vw "Roboto";
    margin: 2vmax;
  }

  .order-success > svg {
    font-size: 20vw;
  }

  .order-success > h5 {
    margin: 5px 10px 0;
  }

  .order-success > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}
