.login-signup-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0;
}

.login-signup-box {
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}

.login-signup-toggle {
  display: flex;
  height: 3vmax;
}

.login-signup-toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 300 1vmax "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}

.login-signup-toggle > p:hover {
  color: tomato;
}

.login-signup-box > div > button {
  background-color: tomato;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.signup-form {
  transform: translateY(-100%) translateX(-100vmax);
}

.login-form > div,
.signup-form > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.login-form > div > input,
.signup-form > div > input {
  padding: 1vmax 4vmax;
  /* padding-right: 1vmax; */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.login-form > div > svg,
.signup-form > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.login-form > div > span,
.signup-form > div > span {
  position: absolute;
  transform: translate(18vmax, 0.2vmax);
  color: rgba(0, 0, 0, 0.623);
  cursor: pointer;
  transition: all 0.3s;
}

.login-form > div > span:hover,
.signup-form > div > span:hover {
  color: tomato;
}

.login-form > div > span > svg,
.signup-form > div > span > svg {
  font-size: 1.9vmax;
}

.login-form > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.login-form > a:hover {
  color: tomato;
}

#register-image > img {
  width: 3vmax;
  border-radius: 100%;
  margin-right: 1vmax;
}

#register-image > input {
  display: flex;
  padding: 0%;
}

#register-image > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#register-image > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.login-button,
.signup-button {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.login-button:hover,
.signup-button:hover {
  background-color: rgb(214, 84, 61);
}

.login-button:disabled,
.signup-button:disabled {
  background-color: rgb(179, 66, 46);
}

.shift-to-left {
  transform: translateX(-100%);
}

.shift-to-neutral {
  transform: translateX(0%);
}

.shift-to-neutral-form {
  transform: translateX(0%) translateY(-100%);
}

.shift-to-right {
  transform: translateX(100%);
}

@media screen and (max-width: 600px) {
  .login-signup-container {
    background-color: white;
  }

  .login-signup-box {
    width: 100vw;
    height: 95vh;
  }

  .login-signup-toggle {
    height: 5vmax;
  }

  .login-signup-toggle > p {
    font: 300 2vmax "Roboto";
  }

  .login-form,
  .signup-form {
    padding: 5vmax;
  }

  .login-form > div > input,
  .signup-form > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.8vmax "Roboto";
  }

  .login-form > div > svg,
  .signup-form > div > svg {
    font-size: 2.8vmax;
  }

  .login-form > div > span,
  .signup-form > div > span {
    transform: translateX(63vmax);
  }

  .login-form > div > span > svg,
  .signup-form > div > span > svg {
    font-size: 2.8vmax;
  }

  .login-form > a {
    font: 500 1.8vmax "Gill Sans";
  }

  #register-image > img {
    width: 8vmax;
    border-radius: 100%;
    margin: 1vmax;
  }

  #register-image > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax "Roboto";
  }

  .login-button,
  .signup-button {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
