.update-password-container,
.reset-password-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0;
}

.update-password-box,
.reset-password-box {
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}

.update-password-heading,
.reset-password-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  font: 400 1.3vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: auto;
}

.update-password-form,
.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.update-password-form > div,
.reset-password-form > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.update-password-form > div > input,
.reset-password-form > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.update-password-form > div > svg,
.reset-password-form > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.update-password-button > div > span,
.reset-password-form > div > span {
  position: absolute;
  transform: translate(18vmax, 0.2vmax);
  color: rgba(0, 0, 0, 0.623);
  cursor: pointer;
  transition: all 0.3s;
}

.update-password-button > div > span:hover,
.reset-password-form > div > span:hover {
  color: tomato;
}

.update-password-button > div > span > svg,
.reset-password-form > div > span > svg {
  font-size: 1.9vmax;
}

.update-password-button,
.reset-password-button {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.update-password-button:hover,
.reset-password-button:hover {
  background-color: rgb(214, 84, 61);
}

.update-password-button:disabled,
.reset-password-button:disabled {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .update-password-container,
  .reset-password-container {
    background-color: white;
  }

  .update-password-box,
  .reset-password-box {
    width: 100vw;
    height: 95vh;
  }

  .update-password-heading,
  .reset-password-heading {
    font-size: 3.5vmax;
    padding: 3.5vmax;
  }

  .update-password-form,
  .reset-password-form {
    padding: 5vmax;
  }

  .update-password-form > div > input,
  .reset-password-form > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax "Sans-serif";
  }

  .update-password-form > div > svg,
  .reset-password-form > div > svg {
    font-size: 2.8vmax;
  }

  .update-password-form > div > span,
  .reset-password-form > div > span {
    transform: translateX(63vmax);
  }

  .update-password-form > div > span > svg,
  .reset-password-form > div > span > svg {
    font-size: 2.8vmax;
  }

  .update-password-button,
  .reset-password-button {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
