.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.boundary {
  width: 12vmax;
  height: 12vmax;
  border: 16px solid rgb(255, 234, 232);
  border-radius: 50%;
  animation: loadingRotate 1600ms linear infinite;
}

.circle {
  width: 1.2vmax;
  height: 1.2vmax;
  background-color: tomato;
  margin: 12px;
  border-radius: 50%;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 600px) {
  .circle {
    width: 2vmax;
    height: 2vmax;
    margin: 0;
  }
}
